
.content-first{
    background-color: #ccc !important;
}

.content-two{
    background-color: #fff;
}

.content-three{
    background-color: #ccc !important;
    
    
}
.content-foor{
    background-color: #473a2c;
}
