
.content-first{
    min-width: 100% !important;
    background-color: #ccc !important;
}

.content-two{
    min-width: 100% !important;
    background-color: #fff;
}

.content-three{
    min-width: 100% !important;
    background-color: #ccc !important; 
    
}
.content-foor{
    min-width: 100% !important;
    background-color: #473a2c;
}
